<?xml version="1.0" encoding="utf-8"?>
<!--
https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>https://fanoutfanincrawler20200911164941.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>False</LaunchSiteAfterPublish>
    <ResourceId>/subscriptions/25662afb-afe5-499a-b0f6-4a561a06d9a2/resourcegroups/dan07/providers/Microsoft.Web/sites/FanOutFanInCrawler20200911164941</ResourceId>
    <UserName>$FanOutFanInCrawler20200911164941</UserName>
    <_SavePWD>True</_SavePWD>
    <PublishUrl>https://fanoutfanincrawler20200911164941.scm.azurewebsites.net/</PublishUrl>
  </PropertyGroup>
</Project>